﻿@model ASPCrud.Models.viewModels.EditUsuariosViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>



<div class="container">
    @using (Html.BeginForm("Editar", "Usuarios", FormMethod.Post))
    {
        <div class="row justify-content-center">
            <div class="col-8">
                <div>
                    @Html.HiddenFor(d=>d.idUsuario)
                </div>
                <div>
                    @Html.LabelFor(d => d.usuario)
                    @Html.TextBoxFor(d => d.usuario, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.usuario, null, new { @class = "alert" })
                </div>

            </div>
            <div style="margin:10px">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    }
</div>