﻿@model ASPCrud.Models.viewModels.LoginViewModel

    
    <div class="container " style="width:30rem;height:80vh">
        <div class="row align-items-center" style="background-color:white; padding:2rem;border-color:black;border-width:1px;border-radius:5%">
            <div class="col-12 align-self-center">
                <h2>Iniciar Sesión</h2>

                @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post))
                {
                    <div>
                        @Html.LabelFor(d => d.usuario)
                        @Html.TextBoxFor(d => d.usuario, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.usuario, null, new { @class = "alert" })
                    </div>
                    <div>
                        @Html.LabelFor(d => d.password)
                        @Html.PasswordFor(d => d.password, new { @class = "form-control" })

                    </div>
                    <div style="margin-top:10px" class="col-12">
                        <input type="submit" style="width:100%" class="btn btn-primary" value="Entrar" />
                    </div>
                }
            </div>

        </div>

    </div>

