﻿@model List<ASPCrud.Models.viewModels.ListUsuariosViewModel>
@{
    ViewBag.Title = "Usuarios";
}

<h2>@ViewBag.Title</h2>

<div class="container">


    <div class="row">
        <div class="col-12">
            <a style="width:100%" href="~/Usuarios/NuevoUsuario" class="btn btn-primary col-12">Nuevo Usuario</a>
        </div>

    </div>
    <div class="row" style="margin-top:1rem">
        <div class="col-md-12">

            <table class="table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Acciones</th>
                </tr>
                @foreach (var us in Model)
                {
                    <tr>
                        <td>@us.idUsuario</td>
                        <td>@us.usuario</td>
                        <td><a class="btn btn-success" href="~/Usuarios/Editar/@us.idUsuario">Editar</a></td>
                        <td><a class="btn btn-danger" href="~/Usuarios/Eliminar/@us.idUsuario">Eliminar</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>


