﻿@model ASPCrud.Models.viewModels.UsuariosViewModel
@{
    ViewBag.Title = "NuevoUsuario";
}

<h2>@ViewBag.Title</h2>



<div class="container">
    @using (Html.BeginForm("NuevoUsuario", "Usuarios", FormMethod.Post))
    {
        <div class="row justify-content-center">
            <div class="col-8">
                <div>
                    @Html.LabelFor(d => d.usuario)
                    @Html.TextBoxFor(d => d.usuario, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.usuario, null, new { @class = "alert" })
                </div>
                <div>
                    @Html.LabelFor(d => d.password)
                    @Html.PasswordFor(d => d.password, new { @class = "form-control" })

                </div>
                
            </div>
            <div style="margin:10px">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    }
</div>
